.wrapper {
  background-color: $medium-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 63.38px;
}

@media (min-width: 56.25em) {
  main {
    padding-top: 75.59px;
  }
}
