// Colors
$dark-grey: #282828;
$medium-grey: #323232;
$light-grey: #696969;
$lightest-grey: #a8a4a4;
$rose-red: #eb3898;
$yellow: #f3e116;
$white: #f2f2f2;
$black: #000000;

// fonts
$font: "Kanit", sans-serif;
