.movie-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  .select-movie-category {
    background-color: $rose-red;
    border: none;
    border-radius: 10rem;
    padding: 1rem;
  }
}
