header {
  background-color: $dark-grey;
  h1 {
    padding: 0.75rem;
    a {
      text-decoration: none;
      color: $rose-red;
    }
    span:first-child {
      color: $yellow;
    }
    span:nth-child(2) {
      color: $rose-red;
      text-transform: uppercase;
    }
    span:nth-child(3) {
      color: $white;
    }
    span:nth-child(4) {
      color: $yellow;
    }
    span:nth-child(5) {
      color: $rose-red;
      text-transform: uppercase;
    }
    span:nth-child(6) {
      color: $white;
    }
  }
  .search-bar {
  }
  input[type="text"] {
    border-radius: 2rem;
    background-color: $medium-grey;
    width: 50%;
    border: none;
    padding: 0.15rem 0.5rem;
    &::placeholder {
      font-weight: 200;
    }
  }
}
